<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Add Doctor</title>
    <style>
        body{
            background-image: url('download.jpg');
            background-repeat: no-repeat;
            background-size:  cover;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto flex items-center justify-between">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ml-6">
                        <a class="nav-link active" aria-current="page" href="/adminDashboard">Home</a>
                    </li>
                    <% if(!user){ %>
                        <li class="ml-6 nav-item">
                            <a class="nav-link" href="/employeeLogin">Login</a>
                        </li>
                        <% }else{ %>
                            <li class="ml-6 nav-item">
                                <a class="nav-link" href="/addDepartment">Add Department</a>
                            </li>
                            <li class="ml-6 nav-item">
                                <a class="nav-link" href="/addEmployee">Add Employee</a>
                            </li>
                            <li class="ml-6 nav-item">
                                <a class="nav-link" href="/requestedAppointment">Requested Appointment</a>
                            </li>
                            <li class="ml-6 nav-item">
                                <a class="nav-link" href="/confirmedAppointment">Confirmed Appointment</a>
                              </li>
                              <li class="ml-6 nav-item">
                                <a class="nav-link" href="/pastAppointment">Past Appointment</a>
                              </li>
                            <li class="ml-6 nav-item">
                                <form action="/adminLogout" method="POST" id="logout"></form>
                                <a class="nav-link" onclick="document.getElementById('logout').submit()"
                                    href="#">Logout</a>
                                </form>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <h2 style="text-align: center; padding: 1%; margin: 2% auto; background-color: #0077b6; color: white; font-weight: bold; width: 88%;">Add Doctor</h2>
    <div class="p-2 container">
        <form class="" action="/addDoctor" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="department" class="form-label">Department Name</label>
                <input type="text" id="department" name="dept" class="form-control" value="<%= dept %>" readonly />
            </div>
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" class="form-control" required placeholder="Enter Name" />
            </div>
            <div class="form-group">
                <label for="degree" class="form-label">Degree</label>
                <input type="text" id="degree" name="degree" class="form-control" required placeholder="Enter experience"/>
            </div>
            <div class="form-group">
                <label for="exp" class="form-label">Experience</label>
                <input type="text" id="exp" name="exp" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="note" class="form-label">Special Note</label>
                <input type="text" name="note" id="note" class="form-control">
            </div>
            <div class="form-group">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" id="image" name="image" class="form-control" multiple="multiple">
            </div>
            <button type="submit" name="button" class="my-2 btn btn-primary btn-block">
               Add Doctor
            </button>
    
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>